@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400&family=Grape+Nuts&family=Montserrat:wght@200&display=swap");


* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #eaeff1;
  font-family: "Montserrat", sans-serif;
}

nav {
  background-color: #114b5f;
  text-align: center;
}

.nav-bar a {
  color: white;
  display: inline-block;
  padding: 10px;
  margin:10px;
  text-decoration: none;
  font-weight: bold;
}

header {
  background-color: #114b5f;
  text-align: center;
  color: white;
  padding: 20px;
  padding-top: 50px;
}

/*REVIEW CARDS*/

.review-list {
  list-style: none;
}

.review-card {
  display: flex;
  flex-direction:column;
  margin: 1rem;
  margin-bottom: 1.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.344);
}

.review-link {
  text-decoration: none;
  color: black;
}

.review-link h3 {
  display: flex;
  /* justify-content: center; */
  margin: 1.5rem;
  /* border: solid 2px green; */
}

.review-details {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  /* border: solid 2px green; */
}

.review-details p {
  font-size: 0.7rem;
  margin-inline: 1.5rem;
  margin-top: 0.5rem;  
}

.img-list {
  max-width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* REVIEW PAGE STYLING */

.review-page {
  border: solid 2px red;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  margin-top: 2rem;
}

.review-page h3 {
  font-size: 30px;
  border: solid 2px green;
}

.review-body {
  border: solid 2px rgb(13, 0, 255);
  display: flex;
  text-align: left;
  margin-block: 1rem;
}

.review-img {
  border-radius: 10px;
}

/* CATEGORY PAGE STYLING */

.category-card {
  display: flex;
  flex-direction:column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.344);
}

.category-card, h3 {
  margin-bottom: 1rem;
}

.category-link {
  text-decoration: none;
  color: black
}

/* SPINNER */

.spinner {
  display: flex;
  flex-direction: center;
  justify-content: center;
  padding-top: 5em;
  height: 70vh;
  /* background: url("./images/cream_dust.png") repeat 0 0; */
}

.spinner::after {
  content: "";
  width: 200px;
  height: 200px;
  border: 10px solid #dddddd;
  border-top-color: #007f95;
  border-radius: 50%;
  animation: spinner 1s ease infinite;
}




@keyframes spinner {
  to {
    transform: rotate(1turn);
  }
}

@media only screen and (min-width: 600px) {
  .App {
    grid-template-columns: 25% 75%;
    grid-template-rows: min-content auto;
    grid-template-areas:
      "header header"
      "nav main";
  }

  header {
    grid-area: header;
  }

  nav {
    grid-area: nav;
  }
}
