@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400&family=Grape+Nuts&family=Montserrat:wght@200&display=swap");

.App {
  text-align: center;
}

* {
  margin: 0px;
  padding: 0px;
}


body {
  background-color: #eaeff1;
  font-family: "Montserrat", sans-serif;
}

nav {
  color: white;
}

header {
  background-color: #114B5F;
  color: white;
  padding: 20px;
}

.review-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.review-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:10px;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  padding-bottom: 20px;
}

.review-details {
  display: flex;
  
}

.review-details p {
  display: flex;
  margin: 15px;
  text-align: center;
}

.img-list {
  max-width:100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.review-img {
  max-width:80%;
  border-radius: 10px;
}


@media only screen and (min-width: 600px) {
  .App {
    grid-template-columns: 25% 75%;
    grid-template-rows: min-content auto;
    grid-template-areas:
      'header header'
      'nav main';
  }

  header {
    grid-area: header;
  }

  nav {
    grid-area: nav;
  }
}

